@import "colors";
@import "mixins";

:host {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu {
  @include boxShadow;
  background-color: $black-transparent;
  padding: 20px;
  border-radius: 20px;
  width: 300px;

  .field-input {
    @include inputField;
  }

  .field-label {
    @include inputLabel;
  }
}

.play-button {
  @include gameButton;
  width: 100%;
  border-radius: 10px;
}
