$black-transparent: rgba(0, 0, 0, 0.75);
$white-transparent: rgba(255, 255, 255, 0.75);
$white: #fff;
$black: #000;
$light-yellow: rgb(224, 214, 193);
$shadow-grey: #626262;
$dark-green: rgb(0, 76, 0);
$grey: #6e6e6e;
$light-blue: rgb(46, 190, 223);
$brown: rgba(84, 26, 26, 0.796);
$blue: rgb(66, 143, 251);
$yellow: yellow;
$green: green;
$red: red;
