@import "mixins";

.content {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 20px;
}

.close-button {
  margin-top: 20px;
  @include lightYellowButton;
}
